.form{
    display: flex;
    justify-content: center;
    margin: 80px 0;
}
.form form{
    background-image: url(https://img.freepik.com/vetores-gratis/ilustracao-de-entrega-de-projeto_335657-4688.jpg?w=740&t=st=1686600472~exp=1686601072~hmac=18783086c8fe373968bdf2573833b8f4df1dc7a4df42aa2754846cef18409daa);
    max-width: 80%;
    background-color: #ede0db;
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgba(0,0,0, 0.09);
}